#nav-color {
  background-color: rgb(209, 253, 209);
}
#ul-one {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
}

#ul-two {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
}

li a:hover {
  color: gray;
}

#list-nav {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  display: table;
  margin: 0px auto 0px auto;
  text-decoration: none;
  color: black;
}

#home-nav {
  font-size: 70px;
  font-family: 'Staatliches', cursive;
  text-align: center;
  display: inline-block;
  display: table;
  margin: 0px auto 0px auto;
  text-decoration: none;
  color: black;
}

#nav-img {
  display: table;
  margin: 0px auto 0px auto;
  max-width: 10%;
  max-height: 12%;
}
